In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sys
sys.path.append(r'C:\Users\User\Downloads\film\Risk-Profiling-And-Predictive-Analytics-for-Car-Insurance\src')
from data_segmentation import segment_data_by_province, segment_data_by_postal_code, segment_data_by_gender, segment_data_for_profit_margin
from statistical_tests import perform_anova_test, perform_t_test
from profit_margin import calculate_profit_margin

In [2]:
data=pd.read_csv("../data/cleaned_dataset.csv",low_memory=False)

In [3]:
data.head()

,Unnamed: 0,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [4]:
data=data.drop(columns="Unnamed: 0",axis=1)

In [5]:
data.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [6]:
data["PostalCode"]

0          1459
1          1459
2          1459
3          1459
4          1459
           ...
1000093    7493
1000094    7493
1000095    7493
1000096    7493
1000097    7493
Name: PostalCode, Length: 1000098, dtype: int64

In [7]:
data.columns

Index(['UnderwrittenCoverID', 'PolicyID', 'TransactionMonth',
       'IsVATRegistered', 'Citizenship', 'LegalType', 'Title', 'Language',
       'Bank', 'AccountType', 'MaritalStatus', 'Gender', 'Country', 'Province',
       'PostalCode', 'MainCrestaZone', 'SubCrestaZone', 'ItemType', 'mmcode',
       'VehicleType', 'RegistrationYear', 'make', 'Model', 'Cylinders',
       'cubiccapacity', 'kilowatts', 'bodytype', 'NumberOfDoors',
       'VehicleIntroDate', 'CustomValueEstimate', 'AlarmImmobiliser',
       'TrackingDevice', 'CapitalOutstanding', 'NewVehicle', 'WrittenOff',
       'Rebuilt', 'Converted', 'CrossBorder', 'SumInsured', 'TermFrequency',
       'CalculatedPremiumPerTerm', 'ExcessSelected', 'CoverCategory',
       'CoverType', 'CoverGroup', 'Section', 'Product', 'StatutoryClass',
       'StatutoryRiskType', 'TotalPremium', 'TotalClaims'],
      dtype='object')

In [8]:
data["Province"].value_counts()

Province
Gauteng          393865
Western Cape     170796
KwaZulu-Natal    169781
North West       143287
Mpumalanga        52718
Eastern Cape      30336
Limpopo           24836
Free State         8099
Northern Cape      6380
Name: count, dtype: int64

In [9]:
data["PostalCode"].value_counts()

PostalCode
2000    133498
122      49171
7784     28585
299      25546
7405     18518
         ...
5143         1
284          1
6810         1
7340         1
6655         1
Name: count, Length: 888, dtype: int64

# 1. Testing Risk Differences Across Provinces

In [10]:
df_province = segment_data_by_province(data)

In [11]:
for kpi in ['SumInsured', 'TotalPremium', 'TotalClaims']:
    p_value = perform_anova_test(df_province, kpi, 'Province')
    print(f"ANOVA p-value for {kpi} across provinces: {p_value}")

ANOVA p-value for SumInsured across provinces: 2.8376868065530723e-05
ANOVA p-value for TotalPremium across provinces: 3.8358007302190926e-266
ANOVA p-value for TotalClaims across provinces: 1.6782057588675903e-07

# 2. Testing Risk Differences Across Postal Codes

In [12]:
df_postal = segment_data_by_postal_code(data)

In [13]:
for kpi in ['SumInsured', 'TotalPremium', 'TotalClaims']:
    p_value = perform_anova_test(df_postal, kpi, 'PostalCode')
    print(f"ANOVA p-value for {kpi} across postal codes: {p_value}")

ANOVA p-value for SumInsured across postal codes: 5.887632722338123e-132
ANOVA p-value for TotalPremium across postal codes: 0.0
ANOVA p-value for TotalClaims across postal codes: 0.8906511279164051

# 3. Testing Profit Margin Differences Across Postal Codes

In [20]:
df = calculate_profit_margin(data) # Add the ProfitMargin column

In [21]:
df_postal_margin = segment_data_for_profit_margin(df)

In [22]:
df_postal_margin.head()

   ProfitMargin  PostalCode
0     21.929825        1459
1     21.929825        1459
2      0.000000        1459
3    512.848070        1459
4      0.000000        1459

In [24]:
p_value = perform_anova_test(df_postal_margin, 'ProfitMargin', 'PostalCode')
print(f"ANOVA p-value for ProfitMargin across postal codes: {p_value}")

ANOVA p-value for ProfitMargin across postal codes: 0.9976859758015036

# 4. Testing Risk Differences Between Genders

In [27]:
df_gender = segment_data_by_gender(data)

In [32]:
for kpi in ['SumInsured', 'TotalPremium', 'TotalClaims']:
    p_value = perform_t_test(df_gender, kpi)  # Adjusted to match function signature
    print(f"T-test p-value for {kpi} between genders: {p_value}")

T-test p-value for SumInsured between genders: 0.18452666992352143
T-test p-value for TotalPremium between genders: 3.0925282750010697e-07
T-test p-value for TotalClaims between genders: 0.8041073961270343